<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBActions.Properties.Settings.TAMS_V2ConnectionString"
            connectionString="Data Source=DESKTOP-BG8P6L6;Initial Catalog=TAMS_V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>